body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-item:hover {
  background-color: black;
}

.canvas-item-drawn {
  background-color: black;
}

.canvas {
  height: 960px;
  width: 960px;
  border: 5px solid black;
  display: flex;
  background-color: beige;
  flex-wrap: wrap;
}
